@model OnlineGames.Models.Novosti

@{
    ViewData["Title"] = "Obriši novost";
}

<h1>Obriši</h1>

<h3>Da li želite da obrišete?</h3>
<div>
    <h4>Novosti</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tekst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tekst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Vrati se nazad</a>
    </form>
</div>
