@model OnlineGames.Models.SlikaIgrice

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Slika za igrice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>
        <dd class="col-sm-10">
            <img src="@(string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.ImageData))) " />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SlikaIgriceId">Promijeni</a> |
    <a asp-action="Index">Vrati se nazad</a>
</div>
