@model IEnumerable<OnlineGames.Models.SlikaIgrice>

@{
    ViewData["Title"] = "Index";
}

<h1>Slika za igricu</h1>

<p>
    <a asp-action="Create">Kreiraj</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Pronađi po imenu: <input type="text" name="searchFilter" value="@ViewData["Pretraga"]" placeholder="Pretraga" />
            <input type="submit" value="Pretraži" class="btn btn-default" /> |
            <a asp-action="Index">Vidi sve</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageTitle)
                </td>
                <td>
                    <img src="@(string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.ImageData)))"/>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SlikaIgriceId">Promijeni</a> |
                    <a asp-action="Details" asp-route-id="@item.SlikaIgriceId">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.SlikaIgriceId">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
